<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Renkler
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <ul class="list-group">
          <li
            *ngFor="let color of colors"
            routerLink="/cardtos/color/{{ color.colorId }}"
            [class]="getCurrentColorClass(color)"
            (click)="setCurrentColor(color)"
          >
            {{ color.colorName }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
