<div calss="container">
  <div>
    <app-navi></app-navi>
  </div>
  <div class="row">
    <div class="col-md-3">
        <app-brand></app-brand>
    </div>
    <div class="col-md-6">
      <h2>Arabalar</h2>
        <app-car-detail></app-car-detail>
        <br><br><br><br>
        <h2>Müşteriler</h2>
        <app-customer-detail></app-customer-detail>
        <br><br><br><br>
        <h2>Kiralamalar</h2>
        <app-rental-detail></app-rental-detail>
    </div>
    <div class="col-md-3">
        <app-color></app-color>
    </div>
  </div>

  
</div>
<router-outlet></router-outlet>
